<div style="margin-bottom: 30px;">
  {{> questionHeader this}}
  
  <div style="margin-bottom: 20px;">
    <div>{{formatMarkdown this.question.content}}</div>
  </div>

  {{#if this.question.code}}
    {{#if (eq this.question.code.codeType 'codeWriting')}}
      <div style="margin-bottom: 20px;">
        <h5>Solution Files</h5>
        {{#each this.question.code.codeWriting.solutionFiles}}
          <div style="margin-bottom: 15px;">
            <div style="font-weight: bold; margin-bottom: 5px;">{{this.file.path}}</div>
            <div>
              {{> codeBloc this.file.content}}
            </div>
          </div>
        {{/each}}
      </div>

      {{#if this.question.code.codeWriting.testCases}}
        <div style="margin-bottom: 20px;">
          <h5>Test Cases</h5>
          {{#each this.question.code.codeWriting.testCases}}
            <div style="margin-bottom: 10px;">
              <div style="margin-bottom: 5px;"><strong>Test Case {{this.index}}:</strong></div>
              <div style="margin-bottom: 5px;"><strong>Exec:</strong> {{> codeBloc this.exec}}</div>
              <div style="margin-bottom: 5px;"><strong>Input:</strong> {{> codeBloc this.input}}</div>
              <div><strong>Expected Output:</strong> {{> codeBloc this.expectedOutput}}</div>
            </div>
          {{/each}}
        </div>
      {{/if}}
    {{/if}}
    
    {{#if (eq this.question.code.codeType 'codeReading')}}
      <div style="margin-bottom: 20px;">
        <h5>Code Snippets with Expected Output</h5>
        {{#each this.question.code.codeReading.snippets}}
          <div style="margin-bottom: 20px;">
            <div style="margin-bottom: 10px;">
              <h6>Snippet {{this.order}}</h6>
              <div>{{> codeBloc this.snippet}}</div>
            </div>
            
            {{#if this.output}}
              <div>
                <strong>Expected Output:</strong>
                <div>{{> codeBloc this.output}}</div>
              </div>
            {{/if}}
          </div>
        {{/each}}
      </div>
    {{/if}}
  {{/if}}

  {{#if this.question.exactMatch}}
    <div style="margin-bottom: 20px;">
      <h5 style="margin-bottom: 10px">Answer Fields</h5>
      {{#each this.question.exactMatch.fields}}
        <div style="margin-bottom: 20px; padding-left: 10px; border-radius: 4px; border-left: 4px solid #e0e0e0;">
          <div style="margin-bottom: 10px;">
            <p>{{this.statement}}</p>
          </div>

          <div>
            <i>Expected Answer (Regexp)</i>
            <div>{{this.matchRegex}}</div>
          </div>
        </div>
      {{/each}}
    </div>
  {{/if}}

  {{#if this.question.multipleChoice}}
    <div style="margin-bottom: 20px;">
      <h5>Answer Options</h5>
      <div>
        <ul style="list-style-type: none; padding-left: 0;">
          {{#each this.question.multipleChoice.options}}
            <li style="margin-bottom: 10px; padding: 8px; border-radius: 4px; {{#if this.isCorrect}}background-color: #e8f5e8; border-left: 4px solid #4caf50;{{else}}background-color: #f5f5f5;{{/if}}">
              <label>
                {{#if this.isCorrect}}✓{{else}}○{{/if}} {{this.text}}
                {{#if this.isCorrect}}<span style="color: #4caf50; font-weight: bold; margin-left: 10px;">(Correct Answer)</span>{{/if}}
              </label>
            </li>
          {{/each}}
        </ul>
      </div>
      
      {{#if this.question.multipleChoice.activateStudentComment}}
        <div style="margin-top: 15px;">
          <span style="font-weight: bold;">Student Comment/Justification:</span>
          <p style="font-style: italic;">{{this.question.multipleChoice.studentCommentLabel}}</p>
        </div>
      {{/if}}
      
      {{#if this.question.multipleChoice.activateSelectionLimit}}
        <div style="margin-top: 15px;">
          <span style="font-weight: bold;">Selection Limit:</span>
          <span>Students can select up to {{this.question.multipleChoice.selectionLimit}} option(s)</span>
        </div>
      {{/if}}
    </div>
  {{/if}}

  {{#if this.question.trueFalse}}
    <div style="margin-bottom: 20px;">
      <h5>Correct Answer</h5>
      <div>
        <span style="font-size: 18px; font-weight: bold;">
          {{#if this.question.trueFalse.isTrue}}✓ True{{else}}✗ False{{/if}}
        </span>
      </div>
    </div>
  {{/if}}

  {{#if this.question.essay}}
    <div style="margin-bottom: 20px;">
      {{#if this.question.essay.solution}}
        <h5>Solution</h5>
        <div>
          {{formatMarkdown this.question.essay.solution}}
        </div>
      {{/if}}
    </div>
  {{/if}}

  {{#if this.question.web}}
    <div style="margin-bottom: 20px;">
      <h5>Solution Files</h5>
      {{#if this.question.web.solutionHtml}}
        <div style="margin-bottom: 15px;">
          <div style="font-weight: bold; margin-bottom: 5px;">HTML Solution:</div>
          <div>{{> codeBloc this.question.web.solutionHtml}}</div>
        </div>
      {{/if}}
      {{#if this.question.web.solutionCss}}
        <div style="margin-bottom: 15px;">
          <div style="font-weight: bold; margin-bottom: 5px;">CSS Solution:</div>
          <div>{{> codeBloc this.question.web.solutionCss}}</div>
        </div>
      {{/if}}
      {{#if this.question.web.solutionJs}}
        <div style="margin-bottom: 15px;">
          <div style="font-weight: bold; margin-bottom: 5px;">JS Solution:</div>
          <div>{{> codeBloc this.question.web.solutionJs}}</div>
        </div>
      {{/if}}
    </div>
  {{/if}}

    {{#if this.question.database}}
        <div style="margin-bottom: 20px;">
            <h5>Solution Queries:</h5>
            <ul style="list-style-type:none;">
                {{#each this.question.database.solutionQueries}}
                    <li style="margin: 0px 0px 10px 0px;">
                        <h6>Q{{this.query.order}} {{this.query.title}}</h6>
                        {{> codeBloc this.query.content}}
                    </li>
                {{/each}}
            </ul>
        </div>
    {{/if}}

</div> 